<link rel="stylesheet" href="/static/plugins/iCheck/square/blue.css">
<div class="wrapper">
    <div class="content-wrapper">
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <div class="col-md-12">
                    <!-- general form elements -->
                    <div class="box box-primary">
                        <div class="box-header with-border">
                            <h3 class="box-title">添加文章栏目</h3>
                        </div>
                        <!-- /.box-header -->
                        <!-- form start -->
                        <form id="form">
                            <div class="box-body">
                                <div class="col-md-8">
                                    <div class="form-group">
                                        <label style="display:block;">父级栏目</label>
                                        <select name="pid" class="form-control select2" style="width:50%;">
                                            <option value="0" selected="selected">顶级栏目</option>
                                            {$option|raw}
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目标题</label>
                                        <input type="text" name="column_title" class="form-control" placeholder="栏目标题">
                                    </div>
                                    <div class="form-group">
                                        <label>栏目副标题</label>
                                        <input type="text" name="column_subtitle" class="form-control" placeholder="栏目副标题">
                                    </div>
                                    <div class="form-group">
                                        <label>推荐位</label>
                                        <div>
                                            {volist name="position" id="vo"}
                                            <label>
                                                <input type="checkbox" name="position[]" value="{$vo.id}"> <span style="position: relative;top: 2px;">{$vo.position_name}</span>&nbsp;&nbsp;
                                            </label>
                                            {/volist}
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目图标</label>
                                        <div>
                                            <img src="/static/images/default-head.png" class="select_img" onclick="uploadImage(this)" ondragstart="return false">
                                            <input type="hidden" name="column_icon" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目二级图标</label>
                                        <div>
                                            <img src="/static/images/default-head.png" class="select_img" onclick="uploadImage(this)" ondragstart="return false">
                                            <input type="hidden" name="column_backimg" class="form-control">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label style="display:block;">栏目类型</label>
                                        <label>
                                            <input type="radio" name="type" class="minimal" value="0" checked onchange="addPage()">
                                            页面栏目
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input type="radio" name="type" class="minimal" value="1" onchange="addNews()">
                                            新闻栏目
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input type="radio" name="type" class="minimal" value="2" onchange="addJump()">
                                            跳转栏目
                                        </label>
                                    </div>
                                    <div class="form-group" id="page">
                                        <label>页面内容</label>
                                        <div>
                                            <textarea name="column_content" id="editor" class="form-control" style="height: 350px;min-width: 670px"></textarea>
                                        </div>
                                    </div>
                                    <div class="more_input">

                                    </div>
                                    <div class="form-group">
                                        <label>栏目描述</label>
                                        <div>
                                            <textarea name="column_describe" class="form-control"></textarea>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label>栏目排序</label>
                                        <input type="number" name="column_sort" class="form-control" placeholder="菜单排序"
                                               value="0">
                                        <span style="color:#ff0000;font-size:12px;">(正整数,越大越靠前)</span>
                                    </div>
                                    <div class="form-group">
                                        <label style="display:block;">栏目显示</label>
                                        <label>
                                            <input type="radio" name="column_status" class="minimal" value="0" checked>
                                            显示
                                        </label>
                                        &nbsp;&nbsp;
                                        <label>
                                            <input type="radio" name="column_status" class="minimal" value="1">
                                            隐藏
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <!-- /.box-body -->
                            <div class="box-footer">
                                <button type="button" id="submit" onclick="submit_data()" class="btn btn-primary">提交保存</button>
                            </div>
                        </form>
                    </div>
                    <!-- /.box -->
                </div>
            </div>
        </section>
    </div>
</div>
{include file="common@public/upload"}
<div id="jump" class="hide">
    <div class="form-group">
        <label>跳转路径</label>
        <input type="text" name="column_jump" class="form-control" placeholder="跳转路径">
    </div>
</div>
<div id="news" class="hide">
</div>
<script src="/static/plugins/iCheck/icheck.min.js"></script>
<script charset="utf-8" src="/static/plugins/kindeditor/kindeditor-all-min.js"></script>
<script charset="utf-8" src="/static/plugins/kindeditor/lang/zh-CN.js"></script>
<script>

    $(function(){
//        KindEditor.ready(function(K) {
            window.editor = KindEditor.create('#editor', {
                uploadJson : "{:url('article/article/uploadImg')}",
//            fileManagerJson : '../jsp/file_manager_json.jsp',
                allowFileManager : true
            });
//        });
        $("body").keydown(function() {
            if (event.keyCode == "13") {
                //keyCode=13是回车键；数字不同代表监听的按键不同
                submit_data();
            }
        });
        $('input[type=checkbox]').iCheck({
            checkboxClass: 'icheckbox_square-blue',
            radioClass: 'iradio_square-blue',
            increaseArea: '20%' /* optional */
        });
    })


    var callback = $("#callback");
    function submit_data() {
        if($('#submit').hasClass('disable')){
            return false
        }
        $('#submit').addClass('disable')
        var url = "{:url('article/column/addcolumn')}";
        editor.sync();
        var form = document.getElementById('form')
        var data = new FormData(form)
        $.ajax({
            url: url,
            data: data,
            type: 'post',
            success: function (res) {
                callback.find('.inf').html(res.msg);
                callback.modal('show');
                callback.on('hide.bs.modal', function (event) {
                    $('#submit').removeClass('disable')
                    if (!res.code) {
                        window.location.href = "{:url('article/column/index')}";
                    }
                })

            },
            processData: false,
            contentType: false,
            dataType: 'json',
            error: function () {
                $('#submit').removeClass('disable')
                callback.find('.inf').html('系统错误');
                callback.modal('show');
            }
        })
    }

    function addPage(){
//        $('#page').removeClass('hide')
        $('#page').fadeIn(100)
    }

    function addNews(){
        $('#page').fadeOut(100)
        $('.more_input').html($('#news').html())
    }

    function addJump(){
        $('#page').fadeOut(100)
        $('.more_input').html($('#jump').html())
    }

</script>
