<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>葡萄管理后台</title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
</head>
{include file="common@public/css"}
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">
	
  {include file="common@public/header" /}
  {include file="common@public/menu" /}
  {__REPLACE__}
  {include file="common@public/script"}
  <script>$.qs = function(name) {}</script>
</div>
<!-- ./wrapper -->
</body>
</html>
